@tailwind base;
@tailwind components;
@tailwind utilities;

.mapboxgl-ctrl-bottom-right {
  display: none;
}

@font-face {
  font-family: "Tactic";
  src: url("/fonts/TacticoPro-Regular.otf") format("opentype");
}

.font-tactic {
  font-family: "Tactic";
}
